* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    padding-left: 20px;
    height: 50px;
}

.nav-links {
    display:flex;
    gap: 30px;
}

.navbar-nav {
    display: flex;
    align-items: right;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.nav-icons img {
    height: 25px;
    margin-left: 15px;
    padding-right: 20px;
}


/* Primera sección: Hero */
.hero {
    padding-top: 70px;
    padding-left: 58px;
    text-align: left;
    background-color: white;
}

.hero-content h1 {
    font-size: 86px;
    line-height: 1.2;
    padding-top: 40px;
    margin-right: 500px;
    font-weight: bold;
}

.politicas h2 {
    font-size: 70px;
    line-height: 1.2;
    padding-top: 40px;
    margin-right: 500px;
    font-weight: bold;
}

.hero-content p {
    font-family: 'M PLUS 1p';
    font-size: 30px;
    padding-top: 35px;
    padding-bottom: 40px;
    margin-right: 200px;
}

.politicas p {
    font-family: 'M PLUS 1p';
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.hero-img {
    align-items: center;
}

.highlight-yellow {
    color: #FEC952;
}

.highlight-cyan {
    color: #67D3D3;
}

.highlight-grey {
    color: #8CA5B3;
}

.highlight-purple {
    color: #A064C2;
}

/* Segunda sección: Productos */
.products {
    padding: 0;
    background-color: #f9f9f9;
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.card {
    position: relative; /* Permite posicionar elementos dentro de la tarjeta */
    text-align: center;
    padding: 20px;
    flex: 1;
    margin: 0;
    box-shadow: none;
    overflow: hidden; /* Recorta el contenido que se sale de los bordes */
    border-radius: 0 !important;
}

.card img {
    margin-bottom: 20px;
    position: relative;
    z-index: 2; /* Coloca la imagen encima del fondo */
}

.card-rinlen {
    padding-top: 70px;
    align-items: center;
}

.card-miku {
    padding-top: 82px;
    align-items: center;
}

.card-kaito {
    padding-top: 70px;
    align-items: center;
}

.card-meiko {
    padding-top: 70px;
    align-items: center;
}

.card h3 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    color: white;
    z-index: 1; /* Coloca el texto al fondo */
}

.card-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    z-index: 3; /* Coloca el botón encima de la imagen y el texto */
}

/* Pie de página */
/*footer*/
.footer-container {
    justify-content: center;
    gap: 20px; /* Espacio entre los enlaces */
    width: 100%; 
}

.footer p {
    margin: 0; 
    padding: 10px 0; 
}

.foot-link {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 5px;
}

.container-2 {
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    min-width: fit-content;
}

.logo {
    vertical-align: middle;
}
