<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos | Bibliotecas de Efectos Especiales </title>
    <link rel="stylesheet" href="styles/styles.css">
    <link href='https://fonts.googleapis.com/css?family=M PLUS 1p' rel='stylesheet'>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <!-- Barra de navegación -->
    <header>
        <nav class="navbar fixed-top">
            <a href="index.html">
                <img src="imgs/crypton.png" alt="Crypton Logo" class="logo">
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle text-black" role="button" data-bs-toggle="dropdown" aria-expanded="false">PRODUCTOS</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="vocaloid.html">VOCALOID</a></li>
                        <li><a class="dropdown-item" href="fuente_sonido.html">FUENTE DE SONIDO</a></li>
                        <li><a class="dropdown-item" href="cd_muestra.html">CD DE MUESTRA</a></li>
                        <li><a class="dropdown-item" href="bibliotecas.html">BIBLIOTECAS DE EFECTOS ESPECIALES</a></li>
                    </ul>
                </li>
            </ul>
            <a class="nav-item nav-link" href="nosotros.html">NOSOTROS</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle text-black" role="button" data-bs-toggle="dropdown" aria-expanded="false">SOPORTE</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="preguntas.html">FAQs</a></li>
                        <li><a class="dropdown-item" href="contactanos.html">CONTÁCTANOS</a></li>
                    </ul>
                </li>
            </ul>
            <div class="nav-icons">
                <a href="log in.html"><img src="imgs/usuario_icon.png" alt="User"></a>
                <a href="carrito.html"><img src="imgs/carrito_icon.png" alt="Carrito"></a>
            </div>
        </nav>
    </header>
    
    <main>
        <!-- Primera Sección: XV SERIES -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <div class="image-container">
                        <h1 class="product-text h1">XV SERIES</h1>
                        <br>
                        <div class="rectangle-7"></div> <!-- Rectángulo gris de fondo -->
                        <img src="imgs/XV_SERIES.png" alt="Imagen de XV SERIES" style="padding-left: 42px;" width="60%">
                    </div>
                </div>
                <div class="product-text">
                    <p class="product-description">
                        La Colección Definitiva de Efectos de Sonido: Más de 3000 Sonidos Seleccionados Minuciosamente
                    </p>
                    <p class="product-description">
                        La XV Series de Sound Ideas es una biblioteca definitiva de efectos de sonido que compila más de 3000 sonidos cuidadosamente seleccionados de las colecciones 
                        más populares de la marca. Esta extraordinaria recopilación está organizada por categorías para facilitar el acceso, incluyendo efectos de animales, 
                        automóviles, aviación, barcos, dibujos animados, relojes, trabajos de construcción, puertas, fuego, pasos, armas, helicópteros, hospitales, hogares, 
                        sonidos humanos, colisiones, fábricas, militares, motocicletas, motores, oficinas, ciencia ficción, deportes, transporte, trenes, agua, fenómenos climáticos, y más.
                    </p>
                    <p class="product-description">
                        El conjunto incluye un total de 16 discos: 15 CDs de audio y un DVD-ROM con todos los archivos en formato WAV. Este último es un formato híbrido, compatible tanto 
                        con sistemas Windows como Mac, y cuenta con un índice detallado en japonés para facilitar la búsqueda y el uso. Ideal para diseñadores de sonido, productores audiovisuales 
                        y creadores de contenido, esta colección es una herramienta imprescindible que brinda acceso rápido y sencillo a una amplia gama de efectos sonoros de alta calidad para 
                        cualquier proyecto creativo.
                    </p>
                    <p class="price">
                        15 CD DE AUDIO Y DVD-ROM XV SERIES <br>
                        Precio web <span class="highlight-price">$9146.56 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-cdmuestreo" style="font-weight: bold;"><img src="imgs/carrito_icon.png" alt="Carrito" width="20%"> <span></span> COMPRAR</button>
                </div>
            </div>            
        </section>
        <br>

        <!-- Segunda Sección: FLASH EFX -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <p class="product-description">
                        La Biblioteca Ideal de Efectos de Sonido para Páginas Web Originales
                    </p>
                    <p class="product-description">
                        La colección Flash Efx es una biblioteca de efectos de sonido diseñada especialmente para la creación de sitios web únicos y originales. Esta recopilación 
                        incluye más de 1000 materiales libres de licencia, listos para usarse en cualquier proyecto digital. Todos los archivos están disponibles en formatos WAV 
                        estéreo a 44.1 kHz/16 bits y MP3, lo que los hace compatibles y de fácil integración en entornos de producción web. Dentro de esta variada colección, encontrarás 
                        efectos de sonido para animales, automóviles, campanas, silbatos, pájaros, teléfonos, clics, comedia, ordenadores, colisiones, puertas, comida, armas, explosiones, 
                        sonidos humanos, máquinas, herramientas, monstruos, percusión, espacio, deportes, palancas e interruptores, agua, armas y silbidos. Además, incluye más de 850 
                        tipos de efectos dedicados a botones, fondos y rollovers interactivos.
                    </p>
                    <p class="product-description">
                        Para producción musical, esta biblioteca también ofrece más de 200 pistas diseñadas en estilos como country, dance, drama, electrónica, jazz, mellow y rock, 
                        permitiendo enriquecer cualquier proyecto con música de alta calidad. Perfecta para desarrolladores web, diseñadores multimedia y creadores de contenido, 
                        Flash Efx es una herramienta indispensable para llevar la experiencia interactiva de tu sitio web al siguiente nivel.
                    </p>
                    <p class="price">
                        CD-ROM FLASH EFX<br>
                        Precio web <span class="highlight-price">$2143.72 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-cdmuestreo" style="font-weight: bold;"><img src="imgs/carrito_icon.png" alt="Carrito" width="20%" class="product-text-2 img"> <span></span> COMPRAR</button>
                </div>
                <div class="product-text">
                    <div class="image-container-2-1">
                        <h1 class="product-text-2-1 h1">FLASH EFX</h1>
                        <br>
                        <div class="rectangle-7-2"></div> <!-- Rectángulo gris de fondo -->
                        <img src="imgs/FLASH EFX.webp" class="image-container-2-1 img" alt="Imagen de FLASH EFX" style="padding-right: 40px;" width="60%">
                    </div>
                </div>
            </div>            
        </section>
        <br>

        <!-- Tercera Sección: LARGER THAN LIFE -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <div class="image-container">
                        <h1 class="product-text h1">LARGER THAN LIFE</h1>
                        <br>
                        <div class="rectangle-7"></div> <!-- Rectángulo gris de fondo -->
                        <img src="imgs/LARGER_THAN_LIFE.png" alt="Imagen de LARGER THAN LIFE" style="padding-left: 42px;" width="60%">
                    </div>
                </div>
                <div class="product-text">
                    <p class="product-description">
                        Una Colección Especializada de Efectos de Sonido Ensordecedores
                    </p>
                    <p class="product-description">
                        La biblioteca Larger Than Life ofrece una selección única de efectos de sonido diseñados para impactar con su intensidad. Especializada en sonidos 
                        sorprendentemente fuertes, esta colección reúne una montaña de efectos GRANDES que incluyen explosiones, disparos, truenos, efectos de terror, colisiones e 
                        impactos, deslizamientos de tierra, lanzamientos de cohetes, puñetazos y sonidos espaciales. Producida por SOUND DOG, un equipo reconocido como parte de la 
                        élite de Hollywood, esta colección garantiza una calidad excepcional. Cada sonido ha sido capturado y producido para conservar al máximo su fuerza y potencia, 
                        sin comprometer su autenticidad ni su impacto.
                    </p>
                    <p class="product-description">
                        La biblioteca incluye un total de 750 efectos cuidadosamente seleccionados para cumplir con las exigencias de proyectos cinematográficos, juegos y producciones 
                        multimedia. Además, contiene un índice en japonés que facilita la búsqueda y selección de sonidos específicos. Si buscas una colección que eleve la intensidad 
                        y el dramatismo de tus proyectos, Larger Than Life es la herramienta definitiva.
                    </p>
                    <p class="price">
                        Juego de 5 CD-ROM LARGER THAN LIFE <br>
                        Precio web <span class="highlight-price">$8003.24 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-cdmuestreo" style="font-weight: bold;"><img src="imgs/carrito_icon.png" alt="Carrito" width="20%"> <span></span> COMPRAR</button>
                </div>
            </div>            
        </section>
        <br>

        <!-- Cuarta Sección: DISNEY IDEAS -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <p class="product-description">
                        Gran Colección de Efectos de Sonido de Disney Ideas 
                    </p>
                    <p class="product-description">
                        Esta exclusiva biblioteca reúne 160 efectos de sonido digitales grabados por los expertos de Disney Ideas, una prestigiosa empresa de posproducción con sede en el 
                        estudio Disney-MGM de Florida. Diseñada con la meticulosidad que caracteriza a Disney, esta colección es una herramienta esencial para proyectos que demanden 
                        sonidos de alta calidad. La biblioteca incluye una amplia variedad de efectos: desde sonidos ambientales hasta efectos de animales, deportes, tráfico, maquinaria 
                        y cómicos, junto con otros efectos especiales. Cada sonido ha sido cuidadosamente capturado para ofrecer autenticidad y dinamismo, ideales para producciones de cine, 
                        televisión, animación y más.
                    </p>
                    <p class="product-description">
                        Además, el CD contiene un índice en japonés que facilita la navegación por esta vasta colección, haciendo que encontrar el efecto adecuado sea rápido y sencillo. 
                        Si buscas añadir un toque profesional y creativo a tus proyectos, la Gran Colección de Efectos de Sonido de Disney Ideas es la elección perfecta.
                    </p>
                    <p class="price">
                        CD-ROM DISNEY IDEAS<br>
                        Precio web <span class="highlight-price">$2143.72 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-cdmuestreo" style="font-weight: bold;"><img src="imgs/carrito_icon.png" alt="Carrito" width="20%" class="product-text-2 img"> <span></span> COMPRAR</button>
                </div>
                <div class="product-text">
                    <div class="image-container-2-1">
                        <h1 class="product-text-2-1 h1">DISNEY IDEAS</h1>
                        <br>
                        <div class="rectangle-7-2"></div> <!-- Rectángulo gris de fondo -->
                        <img src="imgs/DISNEY IDEAS.jpg" class="image-container-2-1 img" alt="Imagen de DISNEY IDEAS" style="padding-right: 40px;" width="60%">
                    </div>
                </div>
            </div>            
        </section>
        <br>

        <!-- Quinta Sección: TURNER ENTERTAINMENT CO SFX LIBRARY -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <div class="image-container">
                        <h1 class="product-text h1">TURNER ENTERTAINMENT CO SFX LIBRARY</h1>
                        <br>
                        <div class="rectangle-7"></div> <!-- Rectángulo gris de fondo -->
                        <img src="imgs/TURNER.png" alt="Imagen de TURNER ENTERTAINMENT CO SFX LIBRARY" style="padding-left: 42px;" width="70%">
                    </div>
                </div>
                <div class="product-text">
                    <p class="product-description">
                        Una Serie de Efectos de Sonido Seleccionados de las Famosas Obras de Turner
                    </p>
                    <p class="product-description">
                        Esta excepcional colección de efectos de sonido reúne los icónicos audios de obras legendarias como Tom y Jerry, El mago de Oz, 2001: Una odisea en el espacio, Poltergeist, 
                        Cantando bajo la lluvia, Ben-Hur, Doctor Zhivago, Lo que el viento se llevó, entre otras. Proveniente de la magnífica colección de Turner Entertainment, esta biblioteca 
                        restaura cuidadosamente los efectos sonoros originales de estas producciones inmortales. Cada sonido refleja de manera auténtica la época y el estilo característico de su obra, 
                        ofreciendo una herramienta invaluable para quienes deseen capturar la esencia histórica en sus proyectos. La colección incluye un total aproximado de 500 efectos, 
                        cuidadosamente seleccionados para mantener la calidad y la relevancia de cada pieza.
                    </p>
                    <p class="product-description">
                        El conjunto se presenta en un elegante estuche especial adornado con un collage de fotografías icónicas de películas de MGM, lo que lo convierte no solo en un recurso profesional, 
                        sino también en un objeto de colección para los amantes del cine clásico.
                    </p>
                    <p class="price">
                        Juego de 3 CD-ROM TURNER ENTERTAINMENT CO SFX LIBRARY <br>
                        Precio web <span class="highlight-price">$4859.11 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-cdmuestreo" style="font-weight: bold;"><img src="imgs/carrito_icon.png" alt="Carrito" width="20%"> <span></span> COMPRAR</button>
                </div>
            </div>            
        </section>
        <br>

        <!-- Sexta Sección: HISTORIC PRESIDENTIAL SPEECHES-->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <p class="product-description">
                        Una Colección de Discursos Elocuentes de Ex Presidentes Estadounidenses
                    </p>
                    <p class="product-description">
                        Esta recopilación, presentada con orgullo por la Biblioteca del Congreso, reúne discursos históricos de 17 presidentes de los Estados Unidos a lo largo de los últimos 
                        85 años. Captura las voces auténticas de los líderes estadounidenses mientras expresan su visión, presentan sus planes políticos al Congreso o se dirigen al pueblo en 
                        momentos cruciales de la historia.
                    <p class="product-description">
                        Desde eventos recientes hasta grabaciones que datan de generaciones pasadas, esta biblioteca ofrece una ventana sonora al pasado, permitiendo a los oyentes revivir 
                        momentos históricos y comprender el poder de la oratoria presidencial. Ideal como herramienta educativa, esta colección es perfecta para quienes desean estudiar 
                        discursos inspiradores y analizar el arte de las palabras influyentes que han marcado la historia política del país.
                    </p>
                    <p class="price">
                        Juego de 6 CD-ROM HISTORIC PRESIDENTIAL SPEECHES<br>
                        Precio web <span class="highlight-price">$4144.53 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-cdmuestreo" style="font-weight: bold;"><img src="imgs/carrito_icon.png" alt="Carrito" width="20%" class="product-text-2 img"> <span></span> COMPRAR</button>
                </div>
                <div class="product-text">
                    <div class="image-container-2-1">
                        <h1 class="product-text-2-1 h1">HISTORIC PRESIDENTIAL SPEECHES</h1>
                        <br>
                        <div class="rectangle-7-2"></div> <!-- Rectángulo gris de fondo -->
                        <img src="imgs/presidential-speeches.png" class="image-container-2-1 img" alt="Imagen de HISTORIC PRESIDENTIAL SPEECHES" style="padding-right: 40px;" width="60%">
                    </div>
                </div>
            </div>            
        </section>
        <br>

        <!-- Pie de página -->
        <footer class="bg-dark text-white p-3">
        <div class="footer-container container-fluid d-flex" style="justify-content: space-between;">
            <div class="d-flex container-2 text-left justify-content-center">
                <p><a class="foot-link" href="politica_privacidad.html">Política de privacidad</a></p>
                <p><a class="foot-link" href="politica_uso.html">Política de Uso</a></p>
            </div>
            
            <div class="social-icons d-flex text-right justify-content-center mx-2">
                <div class="container-2">
                    <p> © Crypton Future Media, INC.</p>
                </div>
                <a href="https://x.com/cryptonmedia">
                    <img src="imgs/x_icon.png" alt="x-logo" class="logo" aria-current="page" width="auto" height="20px">
                </a>
                <a href="https://www.facebook.com/CryptonFutureMedia/?locale=es_LA">
                    <img src="imgs/facebook_icon.png" alt="facebook-logo" class="logo" aria-current="page" width="auto" height="20px">
                </a>
            </div>
        </div>
        </footer>
    </main>

     <!-- All Js -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
     <script src="js/script.js"></script>
</body>
</html>