<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos | CDs de Muestra </title>
    <link rel="stylesheet" href="styles.css">
    <link href='https://fonts.googleapis.com/css?family=M PLUS 1p' rel='stylesheet'>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <!-- Barra de navegación -->
    <header>
        <nav class="navbar fixed-top">
            <a href="index.html">
                <img src="imgs/crypton.png" alt="Crypton Logo" class="logo">
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle text-black" role="button" data-bs-toggle="dropdown" aria-expanded="false">PRODUCTOS</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="vocaloid.html">VOCALOID</a></li>
                        <li><a class="dropdown-item" href="fuente_sonido.html">FUENTE DE SONIDO</a></li>
                        <li><a class="dropdown-item" href="cd_muestra.html">CD DE MUESTRA</a></li>
                        <li><a class="dropdown-item" href="bibliotecas.html">BIBLIOTECAS DE EFECTOS ESPECIALES</a></li>
                    </ul>
                </li>
            </ul>
            <a class="nav-item nav-link" href="nosotros.html">NOSOTROS</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle text-black" role="button" data-bs-toggle="dropdown" aria-expanded="false">SOPORTE</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="preguntas.html">FAQs</a></li>
                        <li><a class="dropdown-item" href="contactanos.html">CONTÁCTANOS</a></li>
                    </ul>
                </li>
            </ul>
            <div class="nav-icons">
                <a href="log in.html"><img src="imgs/usuario_icon.png" alt="User"></a>
                <a href="carrito.html"><img src="imgs/carrito_icon.png" alt="Carrito"></a>
            </div>
        </nav>
    </header>
    
    <main>
        <!-- Primera Sección: Sonicwire01 -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <div class="image-container">
                        <h1 class="product-text h1">SONICWIRE01</h1>
                        <br>
                        <div class="rectangle-7"></div> <!-- Rectángulo gris de fondo -->
                        <img src="imgs/SW01.png" alt="Imagen de Sonicwire 1" style="padding-left: 42px;" width="60%">
                    </div>
                </div>
                <div class="product-text">
                    <p class="product-description">
                        ¡Rock, baile étnico y efectos de sonido en un solo paquete!
                    </p>
                    <p class="product-description">
                        Esta colección, ideal para iniciarse en la producción musical, está repleta de sonidos versátiles que abarcan una amplia gama de estilos y géneros. 
                        Encontrarás bandas de rock con guitarras eléctricas, bajos y baterías potentes, además de tonos country con guitarras acústicas, y ritmos techno/house 
                        creados con sintetizadores e instrumentos electrónicos. También incluye vibrantes sonidos de hip hop, R&B y dub, junto con instrumentos orquestales, 
                        folklóricos y una gran variedad de efectos de sonido, como disparos y voces.
                    </p>
                    <p class="product-description">
                        Cada elemento ha sido cuidadosamente seleccionado para ofrecerte las herramientas necesarias para crear pistas únicas y dinámicas. Esta colección incluye 
                        fragmentos de títulos icónicos como CE30 ORCHESTRAL FLAVOURS, VINDA LOOPS, INTERFACE GUITAR, NU HOUSE, AKOUSTIK BASS HITZ, NY CUTZ y iFX VOL.3 JUEGOS. 
                        ¡Una caja de juguetes sonora que te inspirará desde el primer día!
                    </p>
                    <p class="price">
                        DVD-ROM SONICWIRE01 <br>
                        Precio web <span class="highlight-price">$691.86 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-cdmuestreo" style="font-weight: bold;"><img src="imgs/carrito_icon.png" alt="Carrito" width="20%"> <span></span> COMPRAR</button>
                </div>
            </div>            
        </section>
        <br>

        <!-- Segunda Sección: Sonicwire02 -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <p class="product-description">
                        Belleza funcional construida con sonidos electrónicos: una colección esencial para los amantes del techno. 
                    </p>
                    <p class="product-description">
                        Esta selección captura la esencia futurista del género, con sonidos creados a partir de sintetizadores y cajas de ritmos que destacan por su precisión 
                        mecánica. Desde bombos potentes que marcan el compás, charles agudos y definidos, bajos sintetizados que retumban con fuerza, hasta efectos misteriosos 
                        y percusiones que añaden un carácter único, cada elemento está diseñado para transmitir la belleza de la funcionalidad sonora.
                    </p>
                    <p class="product-description">
                        Además, como un valor añadido, incluye fascinantes efectos de sonido inspirados en videojuegos, perfectos para dar un toque distintivo a tus producciones. 
                        Esta colección reúne materiales de títulos destacados como TECHNO IDENTITY, 8 BIT STYLEZ y GROOVE SHADOWS, ofreciendo todo lo necesario para crear pistas 
                        de techno innovadoras y dinámicas. ¡La herramienta definitiva para explorar los límites de los sonidos electrónicos!
                    </p>
                    <p class="price">
                        DVD-ROM SONICWIRE02 TECHNO<br>
                        Precio web <span class="highlight-price">$691.86 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-cdmuestreo" style="font-weight: bold;"><img src="imgs/carrito_icon.png" alt="Carrito" width="20%" class="product-text-2 img"> <span></span> COMPRAR</button>
                </div>
                <div class="product-text">
                    <div class="image-container-2-1">
                        <h1 class="product-text-2-1 h1">SONICWIRE02 TECHNO</h1>
                        <br>
                        <div class="rectangle-7-2"></div> <!-- Rectángulo gris de fondo -->
                        <img src="imgs/SW02.png" class="image-container-2-1 img" alt="Imagen de Sonicwire 2" style="padding-right: 40px;" width="60%">
                    </div>
                </div>
            </div>            
        </section>
        <br>

        <!-- Tercera Sección: Sonicwire03 -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <div class="image-container">
                        <h1 class="product-text h1">SONICWIRE03 HIP HOP MAYOR</h1>
                        <br>
                        <div class="rectangle-7"></div> <!-- Rectángulo gris de fondo -->
                        <img src="imgs/SW03.png" alt="Imagen de Sonicwire 3" style="padding-left: 42px;" width="60%">
                    </div>
                </div>
                <div class="product-text">
                    <p class="product-description">
                        Textura auténtica y scratches icónicos: una colección imprescindible de sonidos de hip hop.
                    </p>
                    <p class="product-description">
                        Esta selección captura la esencia del hip hop con el característico crepitar de las agujas sobre discos y los scratches que definen el género. Incluye 10 
                        elementos principales, como batería, bajo, guitarra, cuerdas, piano, sintetizador, percusión y coros, que se pueden combinar fácilmente para crear canciones 
                        completas. También ofrece sonidos individuales de batería (bombo, caja, charles, platillos, etc.), permitiéndote diseñar ritmos originales a tu gusto.
                    </p>
                    <p class="product-description">
                        Además, incorpora scratches y efectos de sonido que puedes usar libremente, aportando autenticidad y creatividad a tus producciones. Extraído de títulos 
                        destacados como OFF THE HOOK, CUT'N IT UP 2, KONTROL FREAKS y HIP HOP HIGH, este es el paquete definitivo para quienes buscan capturar la esencia del hip hop 
                        clásico y moderno. ¡Una herramienta imprescindible para productores de cualquier nivel!
                    </p>
                    <p class="price">
                        DVD-ROM SONICWIRE03 HIP HOP MAYOR <br>
                        Precio web <span class="highlight-price">$691.86 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-cdmuestreo" style="font-weight: bold;"><img src="imgs/carrito_icon.png" alt="Carrito" width="20%"> <span></span> COMPRAR</button>
                </div>
            </div>            
        </section>
        <br>

        <!-- Cuarta Sección: Sonicwire04 -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <p class="product-description">
                        Versátil y expresivo: una colección esencial de sonidos de jazz. 
                    </p>
                    <p class="product-description">
                        Esta selección captura la esencia del jazz, desde las impecables formaciones de trío con piano, bajo y batería, hasta arreglos que integran una rica 
                        variedad de instrumentos característicos del género. Incluye canciones acústicas en trío, piezas destacadas con guitarra, melodías brillantes con saxofón 
                        y trompeta, e incluso composiciones modernas que incorporan sintetizadores. También encontrarás estilos fusión con piano eléctrico y congas, junto con 
                        intensas interpretaciones de big bands, reflejando la diversidad y riqueza del jazz.
                    </p>
                    <p class="product-description">
                        Con 10 variaciones de canciones que ofrecen desarrollos únicos, como solos instrumentales, esta colección es perfecta para construir composiciones auténticas 
                        y dinámicas. Basada en títulos aclamados como NU JAZZ CITY, JAZZ QUARTET y ELEMENTS TRADITIONAL JAZZ, esta es la herramienta definitiva para explorar las múltiples 
                        expresiones del jazz, desde lo suave hasta lo intenso. ¡Ideal para productores de cualquier nivel!
                    </p>
                    <p class="price">
                        DVD-ROM SONICWIRE04 JAZZ<br>
                        Precio web <span class="highlight-price">$691.86 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-cdmuestreo" style="font-weight: bold;"><img src="imgs/carrito_icon.png" alt="Carrito" width="20%" class="product-text-2 img"> <span></span> COMPRAR</button>
                </div>
                <div class="product-text">
                    <div class="image-container-2-1">
                        <h1 class="product-text-2-1 h1">SONICWIRE04 JAZZ</h1>
                        <br>
                        <div class="rectangle-7-2"></div> <!-- Rectángulo gris de fondo -->
                        <img src="imgs/SW04.png" class="image-container-2-1 img" alt="Imagen de Sonicwire 4" style="padding-right: 40px;" width="60%">
                    </div>
                </div>
            </div>            
        </section>
        <br>

        <!-- Quinta Sección: Sonicwire05 -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <div class="image-container">
                        <h1 class="product-text h1">SONICWIRE05 R&B</h1>
                        <br>
                        <div class="rectangle-7"></div> <!-- Rectángulo gris de fondo -->
                        <img src="imgs/SW05.png" alt="Imagen de Sonicwire 5" style="padding-left: 42px;" width="60%">
                    </div>
                </div>
                <div class="product-text">
                    <p class="product-description">
                        Una colección de bandas sonoras de R&B tan glamurosas como sexys.
                    </p>
                    <p class="product-description">
                        Esta selección está diseñada para capturar la esencia del R&B, protagonizada por una diva con una habilidad vocal excepcional. Incluye 10 variaciones que abarcan 
                        desde pistas brillantes con tonos chispeantes de una caja de música, melodías emotivas con coros femeninos deslumbrantes, canciones sensuales con susurros y 
                        suspiros, hasta apasionados arreglos con un toque flamenco. Cada pista está cuidadosamente dividida en elementos como batería, bajo, guitarra, piano, sintetizador, 
                        cuerdas y material vocal, lo que permite crear canciones completas simplemente combinándolos. Además, se incluyen sonidos individuales de percusión como bombos y cajas, 
                        ideales para añadir un toque personal y único a tus producciones.
                    </p>
                    <p class="product-description">
                        Basada en títulos aclamados como DA NU RNB HIPHOP, DA NU RNB HIPHOP 2 y DA NU HIPHOP ERA, esta colección ofrece materiales magníficos y sensuales, perfectos para dar vida 
                        a tus pistas de R&B con estilo y creatividad. ¡El complemento ideal para cualquier productor!
                    </p>
                    <p class="price">
                        DVD-ROM SONICWIRE05 R&B <br>
                        Precio web <span class="highlight-price">$691.86 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-cdmuestreo" style="font-weight: bold;"><img src="imgs/carrito_icon.png" alt="Carrito" width="20%"> <span></span> COMPRAR</button>
                </div>
            </div>            
        </section>
        <br>

        <!-- Sexta Sección: Shimmer & Shake-->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <p class="product-description">
                        Percusión versátil y de alta capacidad: una colección imprescindible para productores creativos.
                    </p>
                    <p class="product-description">
                        Esta biblioteca, SHIMMER & SHAKE de Nine Volt Audio, reúne 25 tipos de percusión de mano en una impresionante colección de 8,12 GB. Desde clásicos como maracas y 
                        panderetas hasta opciones únicas como tambores para dedos, palos de lluvia, cascabeles, botellas de plástico con medicamentos, latas de cerveza y panderetas de latón, 
                        esta selección ofrece una amplia variedad para enriquecer cualquier producción musical. El parche para Kontakt incluye herramientas avanzadas para ajustar el ataque y 
                        la tensión del ritmo, permitiendo crear patrones rítmicos precisos y perfectamente sincronizados. Además de ritmos estándar en 4/4, esta colección abarca bucles en 
                        compases poco convencionales como 3/4, 5/4 y 7/8, ampliando tus posibilidades creativas.
                    </p>
                    <p class="product-description">
                        Ideal para cualquier género, esta es una biblioteca de percusión de alta calidad que combina diversidad y funcionalidad. SHIMMER & SHAKE es perfecta para dar vida a 
                        tus producciones con texturas rítmicas únicas. (Este producto se entrega en DVD-R debido a su edición limitada).
                    </p>
                    <p class="price">
                        Juego de 2 discos DVD-ROM SHIMMER & SHAKE<br>
                        Precio web <span class="highlight-price">$1803.11 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-cdmuestreo" style="font-weight: bold;"><img src="imgs/carrito_icon.png" alt="Carrito" width="20%" class="product-text-2 img"> <span></span> COMPRAR</button>
                </div>
                <div class="product-text">
                    <div class="image-container-2-1">
                        <h1 class="product-text-2-1 h1">SHIMMER & SHAKE</h1>
                        <br>
                        <div class="rectangle-7-2"></div> <!-- Rectángulo gris de fondo -->
                        <img src="imgs/shimmer-and-shake-box.png" class="image-container-2-1 img" alt="Imagen de Shimmer & Shake Box" style="padding-right: 40px;" width="60%">
                    </div>
                </div>
            </div>            
        </section>
        <br>

        <!-- Septima Sección: SPIRITOSO LIVE CELLO PHRASES -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <div class="image-container">
                        <h1 class="product-text h1">SPIRITOSO LIVE CELLO PHRASES</h1>
                        <br>
                        <div class="rectangle-7"></div> <!-- Rectángulo gris de fondo -->
                        <img src="imgs/spiritoso-live-cello-phrases.PNG" alt="Imagen de SPIRITOSO LIVE CELLO PHRASES BOX" style="padding-left: 42px;" width="60%">
                    </div>
                </div>
                <div class="product-text">
                    <p class="product-description">
                        Arpegios y acordes de violonchelo: una biblioteca versátil para compositores exigentes.
                    </p>
                    <p class="product-description">
                        SPIRITOSO LIVE CELLO PHRASES ofrece una extensa colección de frases de violonchelo grabadas por un talentoso miembro de la Orquesta Filarmónica Real de Liverpool. Esta biblioteca, 
                        optimizada para KONTAKT4, se especializa en arpegios, incrementos en tiempos de 8 y 16 compases, y otras variaciones, brindando un recurso valioso para compositores y productores. 
                        Entre sus características destacadas, permite ajustar el número de violonchelistas en las interpretaciones, desde un solista hasta un conjunto de 12 músicos, y configurar patrones 
                        de arpegio como Maj7, Dim y Sus4. También ofrece opciones para personalizar la configuración de micrófonos, adaptándose a cualquier necesidad de producción.
                    </p>
                    <p class="product-description">
                        Además de sonidos clásicos de violonchelo, incluye opciones transformadas que simulan sintetizadores, incorporando detalles únicos como filtros sensibles a la dinámica, desde 
                        pianissimo hasta fortissimo. Ideal para crear ensambles de arpegios con un nivel de realismo y control excepcional. Esta biblioteca es una herramienta imprescindible para quienes 
                        buscan añadir texturas orquestales sofisticadas y originales a sus composiciones.
                    </p>
                    <p class="price">
                        DVD-ROM SPIRITOSO LIVE CELLO PHRASES<br>
                        Precio web <span class="highlight-price">$2307.98 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-cdmuestreo" style="font-weight: bold;"><img src="imgs/carrito_icon.png" alt="Carrito" width="20%"> <span></span> COMPRAR</button>
                </div>
            </div>            
        </section>
        <br>

        <!-- Octava Sección: PERPETUO LIVE FLUTE PHRASES -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <p class="product-description">
                        Arpegios expresivos de flauta y flautín: una biblioteca completa para compositores creativos.
                    </p>
                    <p class="product-description">
                        PERPETUO LIVE FLUTE PHRASES ofrece una colección extensa de frases de flauta y piccolo grabadas por miembros de la Orquesta Filarmónica Real de Liverpool, cuidadosamente 
                        adaptadas para parches en KONTAKT4. Diseñada para capturar la esencia de los arpegios orquestales, esta biblioteca brinda flexibilidad y control para compositores que 
                        buscan añadir profundidad y dinamismo a sus producciones. Incluye cuatro tipos de parches: el parche Main abarca frases en escalas mayores y menores, mientras que Hi-Memory 
                        amplía el rango a todas las escalas. El parche MW Filter permite controlar efectos de filtro mediante la rueda de modulación, y Mutated transforma los sonidos en drones y pads 
                        mediante un procesamiento avanzado. Cada parche ofrece ajustes como patrones de arpegio (Maj7, Dim, Sus4), niveles de micrófono para tomas cercanas y ambientales, y opciones 
                        para configurar ensambles desde un solista hasta tres intérpretes.
                    </p>
                    <p class="product-description">
                        Ideal para crear fácilmente arreglos orquestales y texturas sofisticadas, PERPETUO LIVE FLUTE PHRASES es una herramienta esencial para cualquier compositor que desee explorar 
                        la versatilidad de los arpegios de flauta y flautín. (Este producto se entrega en DVD-R debido a su edición limitada).
                    </p>
                    <p class="price">
                        Juego de 2 discos DVD-ROM PERPETUO LIVE FLUTE PHRASES <br>
                        Precio web <span class="highlight-price">$1803.11 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-cdmuestreo" style="font-weight: bold;"><img src="imgs/carrito_icon.png" alt="Carrito" width="20%" class="product-text-2 img"> <span></span> COMPRAR</button>
                </div>
                <div class="product-text">
                    <div class="image-container-2-1">
                        <h1 class="product-text-2-1 h1">PERPETUO LIVE FLUTE PHRASES </h1>
                        <br>
                        <div class="rectangle-7-2-1"></div> <!-- Rectángulo gris de fondo -->
                        <img src="imgs/PERPETUO_LIVE_FLUTE_PHRASES_BOX.png" class="image-container-2-1 img" alt="Imagen de PERPETUO LIVE FLUTE PHRASES BOX" style="padding-right: 40px;" width="60%">
                    </div>
                </div>
            </div>            
        </section>
        <br>

        <!-- Pie de página -->
        <footer class="bg-dark text-white p-3">
        <div class="footer-container container-fluid d-flex" style="justify-content: space-between;">
            <div class="d-flex container-2 text-left justify-content-center">
                <p><a class="foot-link" href="politica_privacidad.html">Política de privacidad</a></p>
                <p><a class="foot-link" href="politica_uso.html">Política de Uso</a></p>
            </div>
            
            <div class="social-icons d-flex text-right justify-content-center mx-2">
                <div class="container-2">
                    <p> © Crypton Future Media, INC.</p>
                </div>
                <a href="https://x.com/cryptonmedia">
                    <img src="imgs/x_icon.png" alt="x-logo" class="logo" aria-current="page" width="auto" height="20px">
                </a>
                <a href="https://www.facebook.com/CryptonFutureMedia/?locale=es_LA">
                    <img src="imgs/facebook_icon.png" alt="facebook-logo" class="logo" aria-current="page" width="auto" height="20px">
                </a>
            </div>
        </div>
        </footer>
    </main>

     <!-- All Js -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
     <script src="js/script.js"></script>
</body>
</html>