<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos | Fuentes de Sonido </title>
    <link rel="stylesheet" href="static/styles.css">
    <link href='https://fonts.googleapis.com/css?family=M PLUS 1p' rel='stylesheet'>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <!-- Barra de navegación -->
    <header>
        <nav class="navbar fixed-top">
            <a href="/">
                <img src="static/imgs/crypton.png" alt="Crypton Logo" class="logo">
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle text-black" role="button" data-bs-toggle="dropdown" aria-expanded="false">PRODUCTOS</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/vocaloid">VOCALOID</a></li>
                        <li><a class="dropdown-item" href="/fuente_sonido">FUENTE DE SONIDO</a></li>
                        <li><a class="dropdown-item" href="cd_muestra.html">CD DE MUESTRA</a></li>
                        <li><a class="dropdown-item" href="bibliotecas.html">BIBLIOTECAS DE EFECTOS ESPECIALES</a></li>
                    </ul>
                </li>
            </ul>
            <a class="nav-item nav-link" href="/nosotros">NOSOTROS</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle text-black" role="button" data-bs-toggle="dropdown" aria-expanded="false">SOPORTE</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="preguntas.html">FAQs</a></li>
                        <li><a class="dropdown-item" href="contactanos.html">CONTÁCTANOS</a></li>
                    </ul>
                </li>
            </ul>
            <div class="nav-icons">
                <a href="log in.html"><img src="static/imgs/usuario_icon.png" alt="User"></a>
                <a href="carrito.html"><img src="static/imgs/carrito_icon.png" alt="Carrito"></a>
            </div>
        </nav>
    </header>
    
    <main>
        <!-- Primera Sección: Fuente sonido suave Miku NT -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <div class="image-container">
                        <h1 class="product-text h1">HATSUNE MIKU NT</h1>
                        <br><img src="static/imgs/mikunt_logo.png" style="padding-left: 40px;" width="80%">
                        <br>
                        <div class="rectangle-3"></div> <!-- Rectángulo azul de fondo -->
                        <img src="static/imgs/miku.webp" alt="Imagen de Hatsune Miku" width="60%">
                    </div>
                </div>
                <div class="product-text">
                    <p class="product-description">
                        Hatsune Miku NT es una innovadora propuesta que combina una avanzada tecnología de expresión vocal para canto, una biblioteca de voces, 
                        una interfaz de software y un efector de voz especialmente diseñado. El editor vocal actualizado Piapro Studio integra nuevas funciones 
                        que mejoran la experiencia de creación musical, permitiendo un control total sobre las expresiones vocales de Hatsune Miku. Con este paquete, 
                        al ingresar la letra y la melodía y seleccionar el estilo de expresión y el parámetro VoiceColor, puedes ajustar los matices de la canción, 
                        perfeccionando aspectos como la pronunciación de cada nota y la precisión en la afinación y el movimiento tonal.
                    </p>
                    <p class="product-description">
                        Además, la combinación de una biblioteca de voces avanzada con un efector de voz de última generación permite expresar una variedad de emociones 
                        a través de la voz de Hatsune Miku, como una voz alegre, susurros melancólicos, tonos enojados, voces roncas y hasta voces más sombrías, manteniendo 
                        siempre la claridad y la naturalidad. También es posible agregar pronunciaciones decorativas con un solo toque, brindando una amplia gama de 
                        posibilidades para explorar diferentes expresiones vocales. Por ello, con Hatsune Miku NT, experimentarás una nueva dimensión de flexibilidad y 
                        control creativo en tus producciones vocales.
                    </p>
                    <p class="price">
                        Hatsune Miku NT Versión paquete<br>
                        Precio web <span class="highlight-price">$2596.48 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-miku" style="font-weight: bold;"><img src="static/imgs/carrito_icon.png" alt="Carrito" width="20%"> <span></span> COMPRAR</button>
                </div>
            </div>            
        </section>
        <br>

        <!-- Segunda Sección: EZ BASS -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <p class="product-description">
                        EZ BASS: La fuente de sonido de bajos perfecta para tu producción musical.
                    </p>
                    <p class="product-description">
                        EZ BASS es una herramienta potente y fácil de usar que te permite crear fácilmente pistas de bajos profesionales. Ideal para compositores, arreglistas y 
                        productores, esta fuente de sonido te ofrece una experiencia de grabación intuitiva, similar a la serie EZ anterior, pero con una nueva tecnología avanzada 
                        basada en SUPERIOR DRUMMER 3, lo que mejora la calidad y versatilidad de las composiciones.
                    </p>
                    <p class="product-description">
                        Además de la facilidad de uso para grabar frases interpretativas, EZ BASS incluye una función de conversión MIDI que convierte automáticamente las frases 
                        MIDI en pistas de bajo completas, ahorrando tiempo y esfuerzo. Los dos tipos de bajos disponibles, "Modern" y "Vintage", brindan una amplia variedad de sonidos, 
                        desde el bajo más contemporáneo hasta el clásico, adaptándose a cualquier estilo musical. Con una amplia gama de funciones avanzadas, EZ BASS es la herramienta 
                        ideal para creadores de todos los niveles, permitiéndote componer, producir y mejorar tus pistas de bajo con facilidad y precisión.
                    </p>
                    <p class="price">
                        PISTA EZ BASS<br>
                        Precio web <span class="highlight-price">$2884.98 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-superpack" style="font-weight: bold;"><img src="static/imgs/carrito_icon.png" alt="Carrito" width="20%" class="product-text-2 img"> <span></span> COMPRAR</button>
                </div>
                <div class="product-text">
                    <div class="image-container-2-1">
                        <h1 class="product-text-2-1 h1">EZ BASS</h1>
                        <br>
                        <div class="rectangle-6"></div> <!-- Rectángulo naranja de fondo -->
                        <img src="static/imgs/Ez-Bass.png" class="image-container-2-1 img" alt="Imagen de EZ BASS" style="padding-right: 40px;" width="60%">
                    </div>
                </div>
            </div>            
        </section>
        <br>

        <!-- Tercera Sección: EZKEY MIDI 6PACK -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <div class="image-container">
                        <h1 class="product-text h1">EZKEY MIDI 6PACK</h1>
                        <br>
                        <div class="rectangle-6-2"></div> <!-- Rectángulo naranja de fondo -->
                        <img src="static/imgs/EZKEY_MIDI_6PACK.png" alt="Imagen de EZKEY MIDI 6PACK" style="padding-left: 42px;" width="60%">
                    </div>
                </div>
                <div class="product-text">
                    <p class="product-description">
                        EZKEYS MIDI 6PACK: Tu Música, Tu Estilo
                    </p>
                    <p class="product-description">
                        El EZKEYS MIDI 6PACK es un paquete combinado diseñado para los creadores que desean explorar nuevas posibilidades musicales con la serie de pianos virtuales EZ KEYS. Este paquete 
                        incluye 6 números de serie intercambiables que te permiten elegir tus bibliotecas MIDI favoritas de una amplia selección de más de una docena de opciones. Con un ahorro aproximado 
                        del 25 % en comparación con el precio regular de las bibliotecas individuales, el EZKEYS MIDI 6PACK es una opción de gran valor para músicos, compositores y productores que buscan 
                        ampliar su colección de patrones y frases MIDI.
                    </p>
                    <p class="product-description">
                        Ya sea que prefieras estilos clásicos, modernos, de jazz, pop, rock o cualquier otro género, este paquete ofrece la flexibilidad de seleccionar las bibliotecas que se ajusten 
                        perfectamente a tu visión musical. Una vez que registres las claves de producto incluidas, tendrás acceso a las expansiones MIDI que elijas, permitiéndote experimentar con nuevas 
                        ideas y enriquecer tus composiciones. ¡Dale vida a tus proyectos con la versatilidad y calidad de EZ KEYS!
                    </p>
                    <p class="price">
                        PISTA EZKEY MIDI 6PACK <br>
                        Precio web <span class="highlight-price">$1857.89 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-superpack" style="font-weight: bold;"><img src="static/imgs/carrito_icon.png" alt="Carrito" width="20%"> <span></span> COMPRAR</button>
                </div>
            </div>            
        </section>
        <br>

        <!-- Cuarta Sección: ACOU6TICS -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <p class="product-description">
                        ACOU6TICS: La Nueva Referencia en Sonidos de Guitarra Acústica
                    </p>
                    <p class="product-description">
                        ACOU6TICS es una fuente de sonido de guitarra acústica que eleva los estándares en calidad y funcionalidad, siguiendo los pasos del galardonado ELECTRI6ITY. 
                        Diseñada para capturar el alma y la autenticidad de las guitarras acústicas, esta biblioteca monumental ofrece una experiencia de sonido excepcional y una 
                        jugabilidad sin igual. Incluye seis instrumentos acústicos únicos: guitarra de cuerdas de acero, guitarra de 12 cuerdas, guitarra de cuerdas de nailon, ukelele, 
                        mandolina y guitarlele, todos grabados meticulosamente con micrófonos estéreo y pastillas piezoeléctricas. El resultado es una reproducción fiel del sonido original 
                        de cada instrumento, junto con la rica atmósfera y profundidad características de las guitarras acústicas. Cada uno de estos instrumentos cuenta con docenas de 
                        articulaciones cuidadosamente elaboradas, como sostenidos, silencios, legato, martilleos, extracciones, deslizamientos, armónicos y efectos especiales, además 
                        de técnicas de punteo con uña y dedos. Estas articulaciones, junto con miles de muestras de alta calidad, crean una experiencia sonora inmersiva, logrando sonidos 
                        que son tan auténticos como versátiles.
                    </p>
                    <p class="product-description">
                        Con ACOU6TICS, los músicos, compositores y productores tienen a su disposición una herramienta poderosa que ofrece un realismo exquisito y una flexibilidad creativa 
                        incomparable. Esta biblioteca es perfecta para cualquier proyecto que demande sonidos acústicos genuinos y refinados, permitiéndote explorar la esencia pura de las 
                        guitarras acústicas como nunca antes.
                    </p>
                    <p class="price">
                        SOFTWARE ACOU6TICS<br>
                        Precio web <span class="highlight-price">$7431.58 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-superpack" style="font-weight: bold;"><img src="static/imgs/carrito_icon.png" alt="Carrito" width="20%" class="product-text-2 img"> <span></span> COMPRAR</button>
                </div>
                <div class="product-text">
                    <div class="image-container-2-1">
                        <h1 class="product-text-2-1 h1">ACOU6TICS</h1>
                        <br>
                        <div class="rectangle-6"></div> <!-- Rectángulo naranja de fondo -->
                        <img src="static/imgs/Ez-Bass.png" class="image-container-2-1 img" alt="Imagen de ACOU6TICS" style="padding-right: 40px;" width="60%">
                    </div>
                </div>
            </div>            
        </section>
        <br>

        <!-- Quinta Sección: ELECTRI6ITY -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <div class="image-container">
                        <h1 class="product-text h1">ELECTRI6ITY</h1>
                        <br>
                        <div class="rectangle-6-2-1"></div> <!-- Rectángulo naranja de fondo -->
                        <img src="static/imgs/electri6ity.png" alt="Imagen de ELECTRI6ITY" style="padding-left: 42px;" width="80%">
                    </div>
                </div>
                <div class="product-text">
                    <p class="product-description">
                        ELECTRI6ITY: La Revolución del Sonido de Guitarra Eléctrica.
                    </p>
                    <p class="product-description">
                        ELECTRI6ITY es la fuente de sonido definitiva para guitarras eléctricas, combinando una calidad sonora y una funcionalidad sin igual. Este paquete incluye 8 guitarras eléctricas
                        históricamente icónicas y únicas, como la Stratocaster, Telecaster, P90, Les Paul, Rickenbacker, Danelectro Lipstick, ES335 y L4, todas grabadas con una precisión excepcional 
                        que las convierte en una herramienta revolucionaria para cualquier productor o músico. Las muestras de ELECTRI6ITY se graban como tonos limpios a través de DI, lo que permite a 
                        los usuarios dar rienda suelta a su creatividad utilizando los efectos integrados de la biblioteca, como phaser, flanger, chorus, reverb y delay, junto con el módulo Screamer y 
                        un simulador de amplificador con opciones como británico, clásico, limpio, jazz, metal, moderno y rock. Cada guitarra está equipada con más de 24,000 muestras en alta calidad 
                        (24 bits/44.1 KHz), lo que abre un abanico casi infinito de posibilidades sonoras. Los detalles más finos se capturan con precisión, desde los trastes, pasando por tres tipos 
                        de pastillas (delanteras, traseras y mixtas), hasta técnicas avanzadas como slides, pull-offs, hammer-ons, armónicos, notas fantasma y silenciamientos. Esto permite crear 
                        interpretaciones auténticas y fluidas con una riqueza de articulaciones y texturas como nunca antes.
                    </p>
                    <p class="product-description">
                        Una de las características más avanzadas de ELECTRI6ITY son las tecnologías AMT (Transformación de Articulación) y VMT (Transformación de Velocidad), que permiten una evolución 
                        sonora fluida, desde el silencio absoluto hasta un sostenido rico, o de suave a redondo, sin esfuerzo. El sistema de Posicionamiento Avanzado de Cuerdas y Diapasón, basado en 
                        inteligencia artificial, selecciona automáticamente las cuerdas y trastes ideales según la interpretación, aunque también se puede ajustar manualmente. Además, su motor de legato 
                        crea transiciones suaves en tiempo real, y el motor de identificación de acordes reconoce más de 2000 acordes diferentes, transformando las notas tocadas en un teclado en voces de 
                        guitarra auténticas con hasta tres variaciones. Con funciones como doble seguimiento, curvatura al unísono, rasgueo, trémolo y púa, ELECTRI6ITY ofrece una flexibilidad total para 
                        personalizar cada parámetro y crear cualquier tipo de articulación. Cada elemento está diseñado para facilitar la creación de música, permitiendo a los usuarios explorar su creatividad 
                        sin límites, y logrando sonidos de guitarra eléctricos de una calidad nunca antes vista.
                    </p>
                    <p class="price">
                        SOFTWARE ELECTRI6ITY <br>
                        Precio web <span class="highlight-price">$7431.58 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-superpack" style="font-weight: bold;"><img src="static/imgs/carrito_icon.png" alt="Carrito" width="20%"> <span></span> COMPRAR</button>
                </div>
            </div>            
        </section>
        <br>

        <!-- Sexta Sección: GARRITAN INSTANT ORCHESTRA -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <p class="product-description">
                        Garritan Instant Orchestra: Orquestación instantánea y dramática al alcance de tu mano. 
                    </p>
                    <p class="product-description">
                        Garritan Instant Orchestra es la solución orquestal definitiva para crear composiciones cinematográficas de alta calidad con facilidad. Desarrollada por la galardonada 
                        marca Garritan, conocida por su excelencia en la creación de sonidos orquestales, esta biblioteca de 1,8 GB permite orquestar de manera rápida y efectiva sin necesidad 
                        de una configuración complicada ni de un largo proceso de trabajo. Diseñada para ofrecer un sonido dramático y épico, Garritan Instant Orchestra se centra en el estilo 
                        de orquestación hollywoodense, distinto del sonido clásico profundo y poderoso, ideal para componer para cine, televisión y medios visuales. La biblioteca incluye una 
                        rica variedad de combinaciones de instrumentos, como cuerdas, metales, maderas y percusión, junto con conjuntos completos que van desde secciones individuales hasta 
                        la orquesta completa. También incorpora sonidos de percusión únicos, como un piano rasgado y sonidos de percusión estruendosos, junto con efectos especiales como 
                        glissandos, disonancias y pasajes inquietantes, ofreciendo una paleta sonora extensa para la creación de paisajes sonoros.
                    </p>
                    <p class="product-description">
                        Entre sus características más destacadas, Garritan Instant Orchestra permite tocar acordes con una sola tecla y cambiar entre secciones en tiempo real usando la rueda 
                        de modulación. También incluye más de 100 ajustes preestablecidos de conjunto, que combinan múltiples instrumentos para adaptarse al estado de ánimo y al estilo musical, 
                        desde texturas etéreas hasta atmósferas llenas de suspenso. Perfecta para crear bandas sonoras cinematográficas y paisajes sonoros envolventes, Garritan Instant Orchestra 
                        mantiene la tradición de la marca y ofrece una forma intuitiva y accesible de componer música orquestal de alto impacto sin necesidad de ser un experto en orquestación. 
                        ¡Una herramienta imprescindible para compositores y productores que buscan resultados inmediatos y de calidad profesional!
                    </p>
                    <p class="price">
                        DVD-ROM GARRITAN INSTANT ORCHESTRA <br>
                        Precio web <span class="highlight-price">$2621.06 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-superpack" style="font-weight: bold;"><img src="static/imgs/carrito_icon.png" alt="Carrito" width="20%" class="product-text-2 img"> <span></span> COMPRAR</button>
                </div>
                <div class="product-text">
                    <div class="image-container-2-1">
                        <h1 class="product-text-2-1 h1">GARRITAN INSTANT ORCHESTRA </h1>
                        <br>
                        <div class="rectangle-6"></div> <!-- Rectángulo naranja de fondo -->
                        <img src="static/imgs/garritan-instant-orchestra.png" class="image-container-2 img" alt="Imagen de GARRITAN INSTANT ORCHESTRA" style="padding-right: 40px;" width="60%">
                    </div>
                </div>
            </div>            
        </section>
        <br>

        <!-- Septima Sección: SUPERIOR DRUMMER 3 -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <div class="image-container">
                        <h1 class="product-text h1">SUPERIOR DRUMMER 3</h1>
                        <br>
                        <div class="rectangle-3"></div> <!-- Rectángulo azul de fondo -->
                        <img src="static/imgs/Superior-Drummer-3.png" alt="Imagen de SUPERIOR DRUMMER 3" style="padding-left: 42px;" width="80%">
                    </div>
                </div>
                <div class="product-text">
                    <p class="product-description">
                        SUPERIOR DRUMMER 3: La herramienta definitiva para baterías de estudio.
                    </p>
                    <p class="product-description">
                        SUPERIOR DRUMMER 3 (S3) lleva la creación de baterías a un nivel completamente nuevo, ofreciendo una interfaz de usuario completamente rediseñada y un software 
                        de vanguardia para la producción de baterías. Con S3, experimentarás la reproducción más auténtica de la grabación de batería en estudio, con una calidad que ha 
                        dominado la industria durante años. La interfaz de usuario de S3 ha sido totalmente reconstruida, permitiéndote personalizar tu experiencia con funciones como 
                        redimensionamiento de ventanas, pestañas extraíbles, conversión de audio a MIDI, editor de cuadrícula MIDI, importación de muestras de audio y un avanzado mezclador 
                        con 35 canales. Además, incorpora una serie de efectos innovadores para añadir más versatilidad a tus producciones.
                    </p>
                    <p class="product-description">
                        La biblioteca de sonidos de S3 fue grabada desde cero en Galaxy Studios en Bélgica, uno de los entornos de grabación más silenciosos y optimizados del mundo, con el 
                        aclamado ingeniero George Massenburg a cargo de la grabación. La biblioteca principal incluye aproximadamente 235 GB de sonidos de alta calidad, abarcando micrófonos 
                        cercanos, de ambiente y 11 micrófonos de sala, lo que permite una flexibilidad total para crear cualquier tipo de sonido o género, desde el clásico hasta el más experimental. 
                        S3 es totalmente compatible con configuraciones estéreo y envolventes de hasta 11.1 canales. Con una increíble capacidad para personalizar y crear sonidos únicos, SUPERIOR DRUMMER 3 
                        es la herramienta definitiva para productores de todos los géneros. Ofrece un sinfín de posibilidades para crear la batería perfecta, con la calidad de sonido y detalle 
                        que solo un sistema de grabación de última generación puede proporcionar. ¡No hay límites para lo que puedes lograr con la fuente de sonido de batería más avanzada de la nueva era!
                    </p>
                    <p class="price">
                        PISTA SUPERIOR DRUMMER 3<br>
                        Precio web <span class="highlight-price">$6491.21 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-miku" style="font-weight: bold;"><img src="static/imgs/carrito_icon.png" alt="Carrito" width="20%"> <span></span> COMPRAR</button>
                </div>
            </div>            
        </section>
        <br>

        <!-- Octava Sección: MOJO HORN SECTION -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <p class="product-description">
                        MOJO Horn Section: La Sección Definitiva de Trompetas para Funk y Jazz 
                    </p>
                    <p class="product-description">
                        MOJO Horn Section pone a tu alcance las secciones de trompetas más talentosas del mundo, ofreciendo una experiencia sonora llena de corazón y alma. Diseñada especialmente 
                        para géneros como pop, funk, jazz y big band, esta innovadora biblioteca virtual captura la esencia de las grandes bandas de épocas pasadas y la energía de grupos legendarios 
                        como Tower of Power. Desde seductores solos de saxofón hasta potentes explosiones de big band, MOJO recrea cada matiz y grito de batalla con una precisión impresionante. 
                        La flexibilidad y funcionalidad de MOJO van más allá de las técnicas tradicionales de muestreo, gracias a su interfaz intuitiva y repleta de herramientas innovadoras. 
                        No es necesario preconfigurar las articulaciones antes de tocar; simplemente carga el instrumento y ajusta las opciones directamente desde la interfaz. Con controles que 
                        permiten decidir el número de músicos, desde un solo intérprete hasta una sección completa de 10 integrantes, y articulaciones que incluyen sostenidos, staccatos, trinos, 
                        ligados, caídas, bends, riffs y efectos especiales, la versatilidad creativa es ilimitada. 
                    </p>
                    <p class="product-description">
                        Además, características avanzadas como las capas de liberación inteligentes, funciones humanizadas y herramientas personalizadas de legato y vibrato garantizan una interpretación 
                        asombrosamente realista. Los crescendos y swells, sincronizables con el tempo, añaden una dinámica inigualable. Cada muestra fue grabada en estéreo de 24 bits utilizando equipos 
                        de alta gama como los preamplificadores NEVE 1073 y LaChapell Audio 992EG, junto con micrófonos de marcas icónicas como AKG, Neumann y Coles. El resultado es un sonido cálido y 
                        auténtico que refleja la pasión de los intérpretes. MOJO Horn Section es la herramienta definitiva para cualquier creador que busque llevar la energía de una sección de trompetas 
                        de funk y jazz al corazón de sus composiciones.
                    </p>
                    <p class="price">
                        SOFTWARE MOJO HORN SECTION <br>
                        Precio web <span class="highlight-price">$9289.47 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-superpack" style="font-weight: bold;"><img src="static/imgs/carrito_icon.png" alt="Carrito" width="20%" class="product-text-2 img"> <span></span> COMPRAR</button>
                </div>
                <div class="product-text">
                    <div class="image-container-2-1">
                        <h1 class="product-text-2-1 h1">MOJO HORN SECTION </h1>
                        <br>
                        <div class="rectangle-6"></div> <!-- Rectángulo naranja de fondo -->
                        <img src="static/imgs/mojo-horn.png" class="image-container-2 img" alt="Imagen de MOJO HORN SECTION" style="padding-right: 40px;" width="60%">
                    </div>
                </div>
            </div>            
        </section>
        <br>

        <!-- Novena Sección: ORCHESTRAL ESSENTIALS -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <div class="image-container">
                        <h1 class="product-text h1">ORCHESTRAL ESSENTIALS</h1>
                        <br>
                        <div class="rectangle-6-2"></div> <!-- Rectángulo naranja de fondo -->
                        <img src="static/imgs/ORCHESTRAL_ESSENTIALS.png" alt="Imagen de ORCHESTRAL ESSENTIALS" style="padding-left: 42px;" width="55%">
                    </div>
                </div>
                <div class="product-text">
                    <p class="product-description">
                        ORCHESTRAL ESSENTIALS: Potencia Cinemática en una Fuente de Sonido Orquestal
                    </p>
                    <p class="product-description">
                        ORCHESTRAL ESSENTIALS es una biblioteca orquestal diseñada para capturar la esencia de las bandas sonoras cinematográficas modernas en un formato compacto y poderoso. Esta fuente de 
                        sonido reúne cuidadosamente una selección de sonidos icónicos extraídos de los aclamados productos de PROJECT SAM, como Symphobia, True Strike y Orchestral Brass Classic. El resultado 
                        es un paquete único que condensa la esencia del mundialmente reconocido "Cinematic SAM Sound". La biblioteca abarca una orquesta completa, conjuntos de cuerdas, metales, instrumentos 
                        de viento de madera y percusión clásica y mundial, convirtiéndola en la herramienta perfecta para quienes desean dar sus primeros pasos en la composición de bandas sonoras para películas, 
                        música de videojuegos o incluso música pop.
                    <p class="product-description">
                        Además, todas las muestras han sido meticulosamente reprogramadas para adaptarse a una interfaz moderna y eficiente. Incluye también una colección de "Multi-Instrumentos" diseñados por 
                        PROJECT SAM, que combinan múltiples capas de instrumentos para ofrecer interpretaciones cinematográficas completas con un solo teclado MIDI de 88 teclas. Ya sea que estés creando una 
                        épica banda sonora o añadiendo un toque orquestal a tus proyectos musicales, ORCHESTRAL ESSENTIALS ofrece la potencia y versatilidad que necesitas.
                    </p>
                    <p class="price">
                        DVD-ROM ORCHESTRAL ESSENTIALS <br>
                        Precio web <span class="highlight-price">$3572.87 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-superpack" style="font-weight: bold;"><img src="static/imgs/carrito_icon.png" alt="Carrito" width="20%"> <span></span> COMPRAR</button>
                </div>
            </div>            
        </section>
        <br>

        <!-- Decima Sección: ORCHESTRAL ESSENTIALS 2 -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <p class="product-description">
                        ORCHESTRAL ESSENTIALS 2: Sonidos Majestuosos para Creaciones Cinemáticas
                    </p>
                    <p class="product-description">
                        ORCHESTRAL ESSENTIALS 2 es una biblioteca orquestal diseñada para capturar sonidos majestuosos y hermosos, ideales para compositores de bandas sonoras, música de videojuegos y 
                        producciones musicales modernas. Siguiendo la línea de su predecesor, ORCHESTRAL ESSENTIALS, esta segunda entrega eleva el estándar al seleccionar cuidadosamente sonidos icónicos 
                        de las series más prestigiosas de PROJECT SAM. Incluye elementos destacados de colecciones como Symphobia (sonidos cinematográficos de orquesta completa), True Strike (percusión orquestal), 
                        Orchestral Brass Classic (metales clásicos), y los evocadores paisajes sonoros de fantasía de Lumina. Con una cobertura amplia que abarca orquesta completa, cuerdas, metales, 
                        instrumentos de viento, coros, piano, percusión y efectos sonoros, esta fuente de sonido es una herramienta imprescindible para crear composiciones llenas de profundidad y emoción.
                    </p>
                    <p class="product-description">
                        La biblioteca también incorpora una colección de Multi-Instruments diseñados por PROJECT SAM. Estas combinaciones musicales permiten superponer múltiples instrumentos grabados para lograr 
                        interpretaciones completas y cinematográficas desde un teclado MIDI de 88 teclas. Con ORCHESTRAL ESSENTIALS 2, no solo obtienes una colección de sonidos orquestales de primer nivel, 
                        sino también una herramienta creativa que simplifica el proceso de composición, ofreciendo resultados impactantes y emocionantes en cada proyecto.
                    </p>
                    <p class="price">
                        DVD-ROM ORCHESTRAL ESSENTIALS 2 <br>
                        Precio web <span class="highlight-price">$3572.87 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-superpack" style="font-weight: bold;"><img src="static/imgs/carrito_icon.png" alt="Carrito" width="20%" class="product-text-2 img"> <span></span> COMPRAR</button>
                </div>
                <div class="product-text">
                    <div class="image-container-2-1">
                        <h1 class="product-text-2-1 h1">ORCHESTRAL ESSENTIALS 2 </h1>
                        <br>
                        <div class="rectangle-6"></div> <!-- Rectángulo naranja de fondo -->
                        <img src="static/imgs/ORCHESTRAL_ESSENTIALS_2.png" class="image-container-2 img" alt="Imagen de ORCHESTRAL ESSENTIALS 2" style="padding-right: 40px;" width="60%">
                    </div>
                </div>
            </div>            
        </section>
        <br>

        <!-- Onceava Sección: ORCHESTRAL ESSENTIALS PACK -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <div class="image-container">
                        <h1 class="product-text h1">ORCHESTRAL ESSENTIALS PACK</h1>
                        <br>
                        <div class="rectangle-6-2"></div> <!-- Rectángulo naranja de fondo -->
                        <img src="static/imgs/ORCHESTRAL_ESSENTIALS_PACK.png" alt="Imagen de ORCHESTRAL ESSENTIALS PACK" style="padding-left: 42px;" width="55%">
                    </div>
                </div>
                <div class="product-text">
                    <p class="product-description">
                        ORCHESTRAL ESSENTIALS PACK: Una Colección Orquestal Esencial
                    </p>
                    <p class="product-description">
                        El ORCHESTRAL ESSENTIALS PACK combina lo mejor de las bibliotecas orquestales con dos destacadas fuentes de sonido: ORCHESTRAL ESSENTIALS, conocida por condensar sonidos poderosos, 
                        y ORCHESTRAL ESSENTIALS 2, que ofrece una selección de sonidos majestuosos y de gran belleza. Este conjunto es ideal para compositores que buscan versatilidad y calidad en sus 
                        producciones orquestales.
                    <p class="product-description">
                        Con este paquete, puedes adquirir ambas bibliotecas a un precio especial, ahorrando aproximadamente un 5% en comparación con el costo de compra individual. Ambas fuentes de sonido 
                        están diseñadas para ofrecer una experiencia orquestal inmersiva, capturando tanto la fuerza épica como la sutileza emocional, lo que las hace perfectas para una amplia gama de géneros 
                        y estilos de composición. ¡Lleva tus composiciones al siguiente nivel con este paquete esencial!
                    </p>
                    <p class="price">
                        DVD-ROM ORCHESTRAL ESSENTIALS PACK <br>
                        Precio web <span class="highlight-price">$6288.26 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-superpack" style="font-weight: bold;"><img src="static/imgs/carrito_icon.png" alt="Carrito" width="20%"> <span></span> COMPRAR</button>
                </div>
            </div>            
        </section>
        <br>

        <!-- Pie de página -->
        <footer class="bg-dark text-white p-3">
        <div class="footer-container container-fluid d-flex" style="justify-content: space-between;">
            <div class="d-flex container-2 text-left justify-content-center">
                <p><a class="foot-link" href="politica_privacidad.html">Política de privacidad</a></p>
                <p><a class="foot-link" href="politica_uso.html">Política de Uso</a></p>
            </div>
            
            <div class="social-icons d-flex text-right justify-content-center mx-2">
                <div class="container-2">
                    <p> © Crypton Future Media, INC.</p>
                </div>
                <a href="https://x.com/cryptonmedia">
                    <img src="static/imgs/x_icon.png" alt="x-logo" class="logo" aria-current="page" width="auto" height="20px">
                </a>
                <a href="https://www.facebook.com/CryptonFutureMedia/?locale=es_LA">
                    <img src="static/imgs/facebook_icon.png" alt="facebook-logo" class="logo" aria-current="page" width="auto" height="20px">
                </a>
            </div>
        </div>
        </footer>
    </main>

     <!-- All Js -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
     <script src="js/script.js"></script>
</body>
</html>