<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
    
        .pregunta {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            cursor: pointer;
        }
        .pregunta:hover {
            background-color: #f9f9f9;
        }
        .pregunta .q-icon {
            color: #20f8ff;
            font-size: 24px;
            font-weight: bold;
        }
        .pregunta .text {
            flex: 1;
            margin-left: 10px;
            font-size: 20px;
            font-weight: bold;
        }
        .pregunta .expand-icon {
            color: #20f8ff;
            font-size: 24px;
            font-weight: bold;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
        }

        /*clase btn btn-primary*/
        .btn-primary {
            color: #fff;
            background-color: #20f8ff;
            border-color: #20f8ff;
        }
        
    </style>
</head>
<body>
    <!-- Barra de navegación -->
    <header>
        <nav class="navbar fixed-top">
            <a href="/">
                <img src="static/imgs/crypton.png" alt="Crypton Logo" class="logo">
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle text-black" role="button" data-bs-toggle="dropdown" aria-expanded="false">PRODUCTOS</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/vocaloid">VOCALOID</a></li>
                        <li><a class="dropdown-item" href="/fuente_sonido">FUENTE DE SONIDO</a></li>
                        <li><a class="dropdown-item" href="/cd_muestra">CD DE MUESTRA</a></li>
                        <li><a class="dropdown-item" href="/bibliotecas">BIBLIOTECAS DE EFECTOS ESPECIALES</a></li>
                    </ul>
                </li>
            </ul>
            <a class="nav-item nav-link" href="/nosotros">NOSOTROS</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle text-black" role="button" data-bs-toggle="dropdown" aria-expanded="false">SOPORTE</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/preguntas">FAQs</a></li>
                        <li><a class="dropdown-item" href="/contactanos">CONTÁCTANOS</a></li>
                    </ul>
                </li>
            </ul>
            <div class="nav-icons">
                <a href="/log_in"><img src="static/imgs/usuario_icon.png" alt="User"></a>
                <a href="/carrito"><img src="static/imgs/carrito_icon.png" alt="Carrito"></a>
            </div>
        </nav>
    </header>
    
    <main>
        <div class="content">
            <br>
            <h1>Soporte Técnico</h1>
            <br><br><br>
        </div>
        <section class="container text-center">
            <h2>¿Tienes problemas con alguno de nuestros productos?</h2>
            <br><br>
            <p>
                Puede encontrar su problema y algunas posibles soluciones en nuestras Preguntas frecuentes. 
                Utilice la sección de Contáctanos para comunicarse directamente si no puede encontrar una solución a su problema.
            </p>
        </section>
        <br><br>

        <!-- Lista de preguntas -->
        <section class="container">
            <div class="pregunta">
                <span class="q-icon">Q</span>
                <span class="text">No se pueden instalar productos equipados con ENGINE 2 desde el disco de instalación/memoria USB</span>
                <a href="https://ec.crypton.co.jp/support/faq/866" class="expand-icon">+</a>
            </div>
            <div class="pregunta">
                <span class="q-icon">Q</span>
                <span class="text">No encuentro el botón de descarga de Pulse Downloader.</span>
                <a href="https://ec.crypton.co.jp/support/faq/766" class="expand-icon">+</a>
            </div>
            <div class="pregunta">
                <span class="q-icon">Q</span>
                <span class="text">Quiero confirmar el código de activación para el registro de eLicenser Control Center</span>
                <a href="https://ec.crypton.co.jp/support/faq/751" class="expand-icon">+</a>
            </div>
            <div class="text-center">
                <a href="https://ec.crypton.co.jp/support/faq" class="btn btn-primary">Ver más preguntas</a>
            </div>
        </section>
        
        <br><br><br>

         <!-- Pie de página -->
         <footer class="bg-dark text-white p-3">
            <div class="footer-container container-fluid d-flex" style="justify-content: space-between;">
                <div class="d-flex container-2 text-left justify-content-center">
                    <p><a class="foot-link" href="/politica_privacidad">Política de privacidad</a></p>
                    <p><a class="foot-link" href="/politica_uso">Política de Uso</a></p>
                </div>
                
                <div class="social-icons d-flex text-right justify-content-center mx-2">
                    <div class="container-2">
                        <p> © Crypton Future Media, INC.</p>
                    </div>
                    <a href="https://x.com/cryptonmedia">
                        <img src="static/imgs/x_icon.png" alt="x-logo" class="logo" aria-current="page" width="auto" height="20px">
                    </a>
                    <a href="https://www.facebook.com/CryptonFutureMedia/?locale=es_LA">
                        <img src="static/imgs/facebook_icon.png" alt="facebook-logo" class="logo" aria-current="page" width="auto" height="20px">
                    </a>
                </div>
            </div>
        </footer>
    </main>

    <!-- All Js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>