<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos | Vocaloid </title>
    <link rel="stylesheet" href="static/styles.css">
    <link href='https://fonts.googleapis.com/css?family=M PLUS 1p' rel='stylesheet'>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <!-- Barra de navegación -->
    <header>
        <nav class="navbar fixed-top">
            <a href="/">
                <img src="static/imgs/crypton.png" alt="Crypton Logo" class="logo">
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle text-black" role="button" data-bs-toggle="dropdown" aria-expanded="false">PRODUCTOS</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/vocaloid">VOCALOID</a></li>
                        <li><a class="dropdown-item" href="/fuente_sonido">FUENTE DE SONIDO</a></li>
                        <li><a class="dropdown-item" href="/cd_muestra">CD DE MUESTRA</a></li>
                        <li><a class="dropdown-item" href="/bibliotecas">BIBLIOTECAS DE EFECTOS ESPECIALES</a></li>
                    </ul>
                </li>
            </ul>
            <a class="nav-item nav-link" href="/nosotros">NOSOTROS</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle text-black" role="button" data-bs-toggle="dropdown" aria-expanded="false">SOPORTE</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/preguntas">FAQs</a></li>
                        <li><a class="dropdown-item" href="/contactanos">CONTÁCTANOS</a></li>
                    </ul>
                </li>
            </ul>
            <div class="nav-icons">
                {% if 'username' in session %}
                    <a href="/logout"><img src="static/imgs/logout.png" alt="Logout"></a>
                {% else %}
                    <a href="/log_in"><img src="static/imgs/usuario_icon.png" alt="Login"></a>
                {% endif %}
                <a href="/carrito"><img src="static/imgs/carrito_icon.png" alt="Carrito"></a>
            </div>
        </nav>
    </header>
    
    <main>
        <!-- Primera Sección: Vocaloid 4 Rin y Len -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <div class="image-container">
                        <h1 class="product-text h1">VOCALOID™ 4 <span></span> <img src="https://ec.crypton.co.jp/img/vocaloid/logo_cv.png" style="padding-left: 40px;"></h1>
                        <br><img src="static/imgs/rinlenv4x_logo.png" style="padding-left: 40px;" width="80%">
                        <br>
                        <div class="rectangle-1"></div> <!-- Rectángulo amarillo de fondo -->
                        <img src="static/imgs/rinlen.png" alt="Imagen de Kagamine Rin y Len" width="60%">
                    </div>
                </div>
                <div class="product-text">
                    <p class="product-description">
                        Rin y Len Kagamine V4X, con inglés incluido, es una cantante virtual con una lengua clara, suave y fuerte. 
                        Permite tener una claridad de voz mejorada y una voz cuidada y bonita, al tiempo que mantiene su imagen potente y encantadora.
                    </p>
                    <p class="product-description">
                        Utilizando las funciones "EVEC" y de síntesis cruzada, es posible crear una voz cantante con cuerpo. Este producto también incluye 
                        el editor vocal Piapro Studio, que es compatible con VOCALOID4, y el software de producción musical Cubase LE, que contiene cientos 
                        de instrumentos, para que puedas configurar un entorno de producción musical desde el mismo día en que lo compres.
                    </p>
                    <p class="price">
                        Rin/Len V4X (incl. INGLÉS) Versión paquete<br>
                        Precio web <span class="highlight-price">$2325.57 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-rinlen" data-product-id="19" style="font-weight: bold;"><img src="static/imgs/carrito_icon.png" alt="Carrito" width="20%"> <span></span> COMPRAR</button>
                </div>
            </div>            
        </section>
        <br>

        <!-- Segunda Sección: Vocaloid 4 Megurine Luka -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <p class="product-description">
                        Megurine Luka V4X es una cantante virtual que incluye bases de datos en japonés e inglés, optimizadas para mejorar su expresividad vocal. 
                        Cada base de datos ha sido diseñada para permitir funciones avanzadas como la síntesis cruzada y gruñidos, lo que facilita cambiar el tono 
                        y añadir una calidad ronca a su voz. 
                    </p>
                    <p class="product-description">
                        En japonés, con la función "EVEC" recientemente desarrollada, es posible ajustar la expresión en cada nota de una canción, ofreciendo un rango 
                        de expresividad que supera al de las bibliotecas de voz convencionales. Esto permite, por ejemplo, susurrar con un tono suave en versos íntimos 
                        o cantar con potencia en estribillos de notas altas.
                    </p>
                    <p class="product-description">
                        El paquete incluye el nuevo Piapro Studio, compatible con las funciones de expresión de "EVEC" y gráficos de tono, además del software de producción 
                        musical Cubase LE, que contiene cientos de instrumentos. Esto proporciona un entorno completo para la creación musical desde el primer día.
                    </p>
                    <p class="price">
                        Megurine Luka V4X Versión paquete<br>
                        Precio web <span class="highlight-price">$2325.57 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-luka" data-product-id="20" style="font-weight: bold;"><img src="static/imgs/carrito_icon.png" alt="Carrito" width="20%" class="product-text-2 img"> <span></span> COMPRAR</button>
                </div>
                <div class="product-text">
                    <div class="image-container-2">
                        <h1 class="product-text-2 h1">VOCALOID™ 4 <span></span> <img src="https://ec.crypton.co.jp/img/vocaloid/logo_cv.png"></h1>
                        <br><img src="static/imgs/lukav4x_logo.png" width="60%">
                        <br>
                        <div class="rectangle-2"></div> <!-- Rectángulo rosa de fondo -->
                        <img src="static/imgs/luka.png" alt="Imagen de Megurine Luka" width="60%">
                    </div>
                </div>
            </div>            
        </section>
        <br>

        <!-- Tercera Sección: Vocaloid 4 Miku -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <div class="image-container">
                        <h1 class="product-text h1">VOCALOID™ 4 <span></span> <img src="https://ec.crypton.co.jp/img/vocaloid/logo_cv.png" style="padding-left: 40px;"></h1>
                        <br><img src="static/imgs/mikuv4x_logo.png" style="padding-left: 40px;" width="80%">
                        <br>
                        <div class="rectangle-3"></div> <!-- Rectángulo amarillo de fondo -->
                        <br>
                        <img src="static/imgs/miku.webp" alt="Imagen de Hatsune Miku" width="60%">
                    </div>
                </div>
                <div class="product-text">
                    <p class="product-description">
                        Hatsune Miku V4X, con inglés incluido, es la versión definitiva de esta cantante virtual, con una fuente de sonido refinada que ha 
                        evolucionado desde VOCALOID2 Hatsune Miku hasta Hatsune Miku Append y Hatsune Miku V3, ahora incorporando un "POWER" aún más potente 
                        y un "WHISPER" suave y silencioso. Este producto permite que Hatsune Miku cante con mayor naturalidad y expresión en cualquier género, 
                        ya sea pop, dance, rock, y más, simplemente ingresando la letra y la melodía deseadas.
                    </p>
                    <p class="product-description">
                        Con la función "EVEC", que añade variaciones en la respiración y calidad vocal, así como las capacidades de síntesis cruzada y gruñidos 
                        de VOCALOID4, es posible crear una voz clara y llena de matices. Incluye el editor vocal de última generación Piapro Studio y el software 
                        de producción musical Cubase LE, que ofrece cientos de instrumentos, brindando un entorno completo para crear desde pistas vocales hasta 
                        acompañamientos musicales. Esto permite que puedas comenzar a hacer música de inmediato.
                    </p>
                    <p class="price">
                        Hatsune Miku V4X (incl. INGLÉS) Versión paquete<br>
                        Precio web <span class="highlight-price">$2325.57 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-miku" data-product-id="21" style="font-weight: bold;"><img src="static/imgs/carrito_icon.png" alt="Carrito" width="20%"> <span></span> COMPRAR</button>
                </div>
            </div>            
        </section>
        <br>

        <!-- Cuarta Sección: Vocaloid 3 KAITO -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <p class="product-description">
                        KAITO V3 es un cantante virtual que combina su legado como el primer Vocaloid masculino, lanzado en 2006, con las tecnologías más avanzadas de la 
                        actualidad. Este vocalista masculino canta tanto en japonés como en inglés, ofreciendo una vocalización clara y suave que ha evolucionado desde la 
                        primera generación. Es capaz de interpretar con fluidez desde notas bajas hasta altas, adaptándose a diferentes estilos musicales. Por ello, este 
                        cantante virtual es ideal si busca una expresividad hábil y cuatro voces coloridas para cantar. 
                    </p>
                    <p class="product-description">
                        El producto incluye tres bases de datos en japonés: una voz estándar fuerte, una voz suave y una voz susurrante, que en conjunto brindan un alto nivel 
                        de expresividad. Además, su base de datos en inglés amplía su versatilidad, permitiéndole interpretar una amplia variedad de géneros musicales con naturalidad y fluidez.
                    </p>
                    <p class="price">
                        KAITO V3 Versión paquete<br>
                        Precio web <span class="highlight-price">$2325.57 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-kaito" data-product-id="22" style="font-weight: bold; color: white;"><img src="static/imgs/carrito_icon_white.png" alt="Carrito" width="20%" class="product-text-2 img"> <span></span> COMPRAR</button>
                </div>
                <div class="product-text">
                    <div class="image-container-2">
                        <h1 class="product-text-2 h1">VOCALOID™ 3 <span></span> <img src="https://ec.crypton.co.jp/img/vocaloid/logo_cv.png"></h1>
                        <br><img src="static/imgs/kaito3v_logo.png" width="60%">
                        <br>
                        <div class="rectangle-4"></div> <!-- Rectángulo azul de fondo -->
                        <img src="static/imgs/kaito.png" alt="Imagen de Kaito" width="60%">
                    </div>
                </div>
            </div>            
        </section>
        <br>

        <!-- Quinta Sección: Vocaloid 3 MEIKO -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <div class="image-container">
                        <h1 class="product-text h1">VOCALOID™ 3 <span></span> <img src="https://ec.crypton.co.jp/img/vocaloid/logo_cv.png" style="padding-left: 40px;"></h1>
                        <br><img src="static/imgs/meiko3v_logo.png" style="padding-left: 40px;" width="80%">
                        <br>
                        <div class="rectangle-5"></div> <!-- Rectángulo rojo de fondo -->
                        <br>
                        <img src="static/imgs/meiko.webp" alt="Imagen de Hatsune Miku" width="60%">
                    </div>
                </div>
                <div class="product-text">
                    <p class="product-description">
                        MEIKO V3 es un cantante virtual completo que tiene todo lo necesario para crear música, combinando las características icónicas del 
                        Vocaloid original MEIKO con mejoras significativas en su versatilidad vocal. Mantiene su distintiva "voz de canto con cuerpo", pero 
                        ahora también puede ofrecer voces potentes ideales para géneros como el metal y el rock pesado, así como tonos suaves y susurrados, 
                        además de un canto en inglés fluido. Por ello, esta cantante virtual es ideal si busca una expresividad aguda y dinámica. 
                    </p>
                    <p class="product-description">
                        El paquete incluye el editor vocal de última generación Piapro Studio y un software de producción musical con cientos de instrumentos, 
                        proporcionando un entorno completo para componer y producir desde el primer día.
                    </p>
                    <p class="price">
                        MEIKO V3 Versión paquete<br>
                        Precio web <span class="highlight-price">$2325.57 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-meiko" data-product-id="23" style="font-weight: bold; color: white;"><img src="static/imgs/carrito_icon_white.png" alt="Carrito" width="20%"> <span></span> COMPRAR</button>
                </div>
            </div>            
        </section>
        <br>

        <!-- Sexta Sección: Vocaloid Piapro Characters (Superpack) -->
        <section class="products">
            <div class="product-section">
                <div class="product-text">
                    <p class="product-description">
                        Este súper paquete incluye bibliotecas de voces japonesas para los seis icónicos cantantes virtuales: MEIKO, KAITO, Hatsune Miku, Kagamine Rin/Len y Megurine Luka. 
                        Desde la expresiva voz de Hatsune Miku, que ha marcado tendencia en la música virtual, pasando por la fresca y energética Kagamine Rin/Len, la rica y seductora Megurine 
                        Luka, la poderosa y madura MEIKO, hasta las distintivas voces masculinas de KAITO, este paquete permite combinar y alternar fácilmente sus estilos únicos para crear 
                        arreglos vocales y coros dinámicos.
                    </p>
                    <p class="product-description">
                        Incluye el editor vocal Piapro Studio, compatible con VST/AU, junto con el software de producción musical Cubase LE, que ofrece una amplia variedad de instrumentos. 
                        Este conjunto te proporciona todo lo necesario para producir pistas vocales y acompañamientos desde el primer día, disfrutando de la creatividad que brindan estos 
                        seis legendarios cantantes virtuales.
                    </p>
                    <p class="price">
                        Piapro Personajes Super Pack Versión paquete<br>
                        Precio web <span class="highlight-price">$3029.23 MXN</span> (impuestos incluidos)
                    </p>
                    <button class="buy-button-superpack" data-product-id= "28" style="font-weight: bold;"><img src="static/imgs/carrito_icon.png" alt="Carrito" width="20%" class="product-text-2 img"> <span></span> COMPRAR</button>
                </div>
                <div class="product-text">
                    <div class="image-container-2">
                        <h1 class="product-text-2 h1">VOCALOID™ <span></span> <img src="https://ec.crypton.co.jp/img/vocaloid/logo_cv.png"></h1>
                        <br><img src="static/imgs/superpack_logo.webp" width="60%">
                        <br><img src="static/imgs/superpack_cv_logo.webp" width="70%">
                        <br>
                        <div class="rectangle-6"></div> <!-- Rectángulo naranja de fondo -->
                        <img src="static/imgs/img_superpack.jpg" alt="Imagen de los Piapro Characters" width="60%">
                    </div>
                </div>
            </div>            
        </section>
        <br>

        <!-- Pie de página -->
        <footer class="bg-dark text-white p-3">
        <div class="footer-container container-fluid d-flex" style="justify-content: space-between;">
            <div class="d-flex container-2 text-left justify-content-center">
                <p><a class="foot-link" href="/politica_privacidad">Política de privacidad</a></p>
                <p><a class="foot-link" href="/politica_uso">Política de Uso</a></p>
            </div>
            
            <div class="social-icons d-flex text-right justify-content-center mx-2">
                <div class="container-2">
                    <p> © Crypton Future Media, INC.</p>
                </div>
                <a href="https://x.com/cryptonmedia">
                    <img src="static/imgs/x_icon.png" alt="x-logo" class="logo" aria-current="page" width="auto" height="20px">
                </a>
                <a href="https://www.facebook.com/CryptonFutureMedia/?locale=es_LA">
                    <img src="static/imgs/facebook_icon.png" alt="facebook-logo" class="logo" aria-current="page" width="auto" height="20px">
                </a>
            </div>
        </div>
        </footer>
    </main>

     <!-- All Js -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
     <script src="js/script.js"></script>
     <script>
        const buttonClasses = ['buy-button-rinlen', 'buy-button-luka', 'buy-button-miku', 'buy-button-kaito', 'buy-button-meiko', 'buy-button-superpack'];
    
        buttonClasses.forEach(buttonClass => {
            document.querySelectorAll(`.${buttonClass}`).forEach(button => {
                button.addEventListener('click', function() {
                    const productId = this.getAttribute('data-product-id');
                    fetch('/add_to_cart', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ productId: productId })
                    }).then(response => {
                        if (response.ok) {
                            alert('Producto agregado al carrito.');
                        } else {
                            alert('Hubo un problema al agregar el producto al carrito.');
                        }
                    });
                });
            });
        });
    </script>
    
    
</body>
</html>
